.suggest {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12); 
  width: 19rem;
  height: 25rem;
}

.block1 {
  display: flex; /* Ajoutez display: flex pour que justify-content fonctionne */
  justify-content: space-between;
  margin-left: 21px;
  margin-right: 25px;
  padding-bottom: 24px;
  margin-top: 28px;
}

.block2 {
  display: block;

}
.block2 img {
  border-radius: 40px;
  padding: 1.5rem;
}
.block3 {
  display: flex;
  margin-left: 50px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.block3 img {
  display: block;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-left: -15px;
}

.block3 a {
  display: block; /* Ajoutez display: block pour appliquer height et width */
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: rgb(215, 215, 215);
  margin-left: -15px;
}

.block3 p {
  margin-top: 8px;
  font-weight: 600;
  color: #adb5bd;
}


.thirdpart {
  display: inline-block;
  margin-top: 480px;
  margin-right: 18px;
  margin-left: -485px;
  margin-bottom: 20px;
  border-radius: 15px !important;
  /* border: 0 !important; */
  width: 375px !important;
  /* 7 */
  height: 400px;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .05) !important;
  /* box-sizing: border-box; */
  text-align: center;
}

.suppart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 1 */
  padding: 30px;
  padding-bottom: 10px;
}

.suppart a {
  color: #1E74FD;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  /* 2 */
  text-decoration: none;
}

/* 3 */
#hr {
  color: black;
}

/* 4 */
.bigimg {
  text-align: center;
  margin-left: 15px;
  margin-top: 10px;

}

.bigimg img {
  border-radius: 15px !important;
  max-width: 95%;
  height: auto;
  /* 5 */
  /* margin-left: 15px;
    margin-top: 30px; */
}

.A {
  /* display: inline-block; */
  display: flex;
  /* 6 */
  margin-left: 3px;
}

.rms1 {
  box-sizing: border-box;
  line-height: 1.75;
  width: 40px;
  margin-top: -40px;
  margin-left: 35px;
}

.rms2 {
  box-sizing: border-box;
  line-height: 1.75;
  width: 40px;
  margin-top: -40px;
  margin-left: 35px;
}

.rms3 {
  box-sizing: border-box;
  line-height: 1.75;
  width: 40px;
  margin-top: -40px;
  margin-left: 55px;
}

.rms4 {
  box-sizing: border-box;
  line-height: 1.75;
  width: 40px;
  margin-top: -40px;
  margin-left: 75px;
}

.A a {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  text-align: center !important;
  line-height: 50px;
  background-color: #f5f5f5 !important;
  color: #adb5bd !important;
  font-size: 12px !important;
  font-family: Montserrat, sans-serif;
  font-weight: 600 !important;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: -20px;
}

#a {
  margin-left: 15px;
  margin-top: 10px;
}

.A p {
  color: #adb5bd !important;
  font-weight: 600 !important;
  font-family: Montserrat, sans-serif;
  font-size: 12px !important;
  margin-top: 25px;
  margin-right: 5px;
  margin-left: -23px;
}

.firstComponent{

  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  border-radius: 15px !important;
  /* border: 0 !important; */
  width: 375px !important;
  /* 7 */
  height: 450px;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .05) !important;
  /* box-sizing: border-box; */
  text-align: bottom;

}


.firstSmallDiv{

  height: 80px;
  width: 375px;

}

.firstSmallDiv h4{

  margin-left: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;

}

.firstSmallDiv a{

  text-decoration: none;
  color: #1E74FD;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 30px;
  margin-top: -40px;
  font-size: 16px;

}

.firstSmallDiv hr{

  margin-top: 10px;
  width: 100%;

}

.secondSmallDiv{

  height: 100px;
  width: 360px;
  background-color: rgb(247, 247, 252);
  margin-left: 5px;
  border-radius: 15px;
  display: flex;

}

.firstmicroDiv{

  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-top: 15px;
  display: block;

}

.firstmicroDiv img{

  height: 60px;
  width: 60px;
  display: flex;
  /* margin-top: -15px; */
  margin-bottom: -10px;
  margin-top: 5px;

}

.secondmicroDiv{

  height: 100px;
  width: 150px;
  margin-top: 30px;
  margin-left: -40px;
  display: block;

}
.secondmicroDiv h4{

  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 16px;

}

.secondmicroDiv h5{

  margin-top: 2px;
  margin-left: 29px;
  font-size: 12px;
  color: rgb(117, 115, 113);

}

.thirdSmallDiv{

  height: 100px;
  width: 360px;
  margin-top: 20px;
  background-color: rgb(247, 247, 252);
  margin-left: 5px;
  border-radius: 15px;
  display: flex;

}

.firstMicroDiv{

  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  display: block;

}

.secondMicroDiv{

  height: 100px;
  width: 150px;
  margin-top: 30px;
  margin-left: -40px;
  display: block;

}

.thirdSmallDiv h4{

  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 16px;

}

.thirdSmallDiv h5{

  margin-top: 2px;
  margin-left: 29px;
  font-size: 12px;

}

.fourthSmallDiv{

  height: 100px;
  width: 360px;
  margin-top: 20px;
  background-color: rgb(247, 247, 252);
  margin-left: 5px;
  border-radius: 15px;
  display: flex;

}

.fourthSmallDiv img{

  height: 60px;
  width: 60px;
  border-radius: 100px;
  
}

.fourthSmallDiv h4{

  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 16px;

}

.fourthSmallDiv h5{

  margin-top: 2px;
  margin-left: 29px;
  font-size: 12px;

}

.FirstmicroDiv{

  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  display: block;

}

.SecondmicroDiv{

  height: 100px;
  width: 150px;
  margin-top: 30px;
  margin-left: -40px;
  display: block;


}