.fourthpart{
    margin-top: 15px;
    border-radius: 15px !important;
    border: 0 !important;
    width: 25% !important;
    height: 400px;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05) !important;
    box-sizing: border-box;
}
.suggpg img{
    border-radius: 15px !important;
    max-width: 90%;
    height: auto;
    margin-left: 15px;
    margin-top: 30px;
}
.suggpg a {
    font-weight: 700 !important;
    color: #343a40 !important;
    background-color: #eee !important;
    text-align: center !important;
    border-radius: 30px !important;
    font-size: 12px !important;
    text-decoration: none;
    margin-left: 100px;
    height: 100px; ;
    width: 100px;
    }
