.lastpart{
    margin-top: 15px;
    border-radius: 15px !important;
    border: 0 !important;
    width: 25% !important;
    height: 300px;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05) !important;
    box-sizing: border-box;
}
.suppart{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.suppart a{
    color: #1E74FD;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
   

}
.A{
    display: flex;
    justify-content: space-between;
}
.a{
border-radius: 8px;
background-color: #10d876;
color: white;
width: 60px;
height: 60px;
font-weight: bold;
text-align: center;
}
.b{
    margin-top: -10px;
    font-size: 13px !important;
    margin-left: 8px;
}
.b h4{
    font-weight: 700 !important;
    font-family: Montserrat, sans-serif;
}

.b p{
    margin-top: -10px;
    font-family: Montserrat, sans-serif;
    color: #adb5bd ;
    font-weight: 500 !important;
}
.B{
    display: flex;
    justify-content: space-between;
}
.c{
    border-radius: 8px;
    background-color: #FE9431;
    color: white;
    width: 60px;
    height: 60px;
    font-weight: bold;
    text-align: center; 
}
.d{
    margin-top: -10px;
    font-size: 13px !important;
    margin-left: 8px;
}
.d h4{
    font-weight: 700 !important;
    font-family: Montserrat, sans-serif;
}
.d p {
    margin-top: -10px;
    font-family: Montserrat, sans-serif;
    color: #adb5bd ;
    font-weight: 500 !important;
}
.C{
    display: flex;
    justify-content: space-between;
}
.e{
    border-radius: 8px;
 background-color: #1E74FD;
    color: white;
    width: 60px;
    height: 60px;
    font-weight: bold;
    text-align: center; 
   
}
.f{
    margin-top: -10px;
    font-size: 13px !important;
    margin-left: 8px;
}
.f h4{
    font-weight: 700 !important;
    font-family: Montserrat, sans-serif;
}
.f p {
    margin-top: -10px;
    font-family: Montserrat, sans-serif;
    color: #adb5bd ;
    font-weight: 500 !important;
}
