.App {
  text-align: left;
  color: gray;
}
  

.favorite.styled:hover {
  color: rgb(25, 0, 255); /* Couleur du texte lors du survol */

}


.Newfeeds {
  border-radius: 10px;
     box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12); 
   
       margin-inline-end: left;
       margin-block-start: 0.5em;
       max-inline-size: 15rem;
       overflow: hidden;
     text-align: left;
   color: gray;
     background: hsl(0, 0%, 100%);
     padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem; 
    font-size: 1rem;
    
 }
.Morepage {
  border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12); 
      margin-inline-end: left;
      margin-block-start: 0.5em;
      max-inline-size: 15rem;
      overflow: hidden;
    text-align: left;
  color: gray;
    background: hsl(0, 0%, 100%);

    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem; 
    font-size: 1rem;   
}
  .Account  {
    border-radius: 10px;
       box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12); 
       margin-block-start: 0.5em;
         margin-inline-end: left;
         margin-block-start: 5 em;
         max-inline-size: 15rem;
         overflow: hidden;
       text-align: left;
     color: gray;
       background: hsl(0, 0%, 100%);
       padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem; 
    font-size: 1rem;
    
   }
   .title-project {
   padding-block-start: 0.25rem;
   padding-block-end: 0.25rem; 
   padding-inline-start: 0.25rem;
   padding-inline-end: 1.5rem; 
   
   
   
   }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Styles pour le conteneur du bouton */
.title-project {

}

/* Styles pour le bouton lui-même */
.favorite.styled {
  background-color: #ffffff; /* Couleur de fond du bouton */
  color:gray; /* Couleur du texte */
  border: none; /* Supprime les bordures par défaut du bouton */
  border-radius: 5px; /* Arrondit les coins du bouton */
  padding: 0px; /* Espace autour du texte à l'intérieur du bouton */
  font-size: 16px; /* Taille du texte */
  cursor: pointer; /* Change le curseur lorsqu'on survole le bouton */
  text-decoration: none; /* Supprime le soulignement du texte */
  display: flex;
  align-items: center; /* Aligne l'icône et le texte verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
  gap:10 px; /* Espace entre l'icône et le texte */
  width: 200px; /* Largeur fixe du bouton */
  height: 40px; /* Hauteur fixe du bouton */
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */
  justify-content: space-between ; 
  display: flex;
  align-items: right;
}

/* .text-large {
  font-size: var(--font-size-large); } */
